* {
    box-sizing: border-box;
}

body {
    margin-top: 0em;
}

section {
    display: none;
    margin: 6em;
    margin-top: 0em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-destination: 0% 0%;
    -webkit-overflow-scrolling: touch;
    margin-left: 8em;
    margin-right: 5em;
    height: 100vh;
}

body main section::-webkit-scrollbar {
    display: none;
}

iframe {
    display: none;
    position: absolute;
    width: 100%;
    height: 85%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
}

iframe.vershcijnen {
    display: block;
}

article {
    width: 25em;
    flex: 0 0 auto;
    margin-right: 0.625em;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    height: 31em;
    position: relative;
    border: 6px solid black;
    margin-left: 1em;
    position: relative;
    margin-top: 5em;
    background-color: white;
}

.card-front {
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
}

.card-back {
    background-size: cover;
}

.icon-picture {
    position: absolute;
    bottom: 1.5em;
    right: 2em;
    width: 2em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0em;
    margin-top: 0em;
    font-family: sans-serif;
    margin-top: 1.3em;
    color: black;
    transform: rotate(-90deg);
    position: fixed;
    left: -4.2em;
    bottom: 7.3em;
}

section article p:first-of-type {
    margin-bottom: 5em;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 2em;
}

section article h2 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

header {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 3em;
}

header span {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5.5em;
}

body header button {
    height: 4em;
    width: 10em;
    background-color: transparent;
    border: 6px solid black;
    background-image: url(../images/sun.png);
    background-repeat: no-repeat;
    background-position: 1em;
    background-size: 2.8em;
    transition: all 1s;
    margin-left: 1em;
}

header span p {
    font-family: sans-serif;
    font-size: 0.8em;
    width: 18em;
    line-height: 1.4em;
}


body.night {
    background-color: black;
    transition: all 1s;
}

body.night h1 {
    color: whitesmoke;
    transition: all 1s;
}

body.night article p {
    color: whitesmoke;
    transition: all 1s;
}


body.night header span p {
    color: whitesmoke;
    transition: all 1s;
}

body.night article h2 {
    color: whitesmoke;
    transition: all 1s;
}

body.night section article p {
    color: whitesmoke;
}

body.night section article button {
    color: whitesmoke;
}

body.night section article button:hover {
    color: whitesmoke;
    font-weight: 700;
}

body.night header button {
    height: 4em;
    width: 10em;
    background-color: transparent;
    border: 6px solid whitesmoke;
    background-image: url(../images/moon.png);
    background-repeat: no-repeat;
    background-position: 6em;
    background-size: 2.6em;
    transition: all 1s;
}

body.night header button:focus {
    height: 4em;
    width: 10em;
    background-color: whitesmoke;
    border: 6px solid whitesmoke;
    background-image: url(../images/moon-hover.png);
    background-repeat: no-repeat;
    background-position: 6em;
    background-size: 2.6em;
    transition: all 1s;
}

body.night header button:hover {
    height: 4em;
    width: 10em;
    background-color: whitesmoke;
    border: 6px solid whitesmoke;
    background-image: url(../images/moon-hover.png);
    background-repeat: no-repeat;
    background-position: 6em;
    background-size: 2.6em;
    transition: all 1s;
}

body header button:focus {
    background-color: black;
    background-image: url(../images/sun-hover.png);
    background-repeat: no-repeat;
    background-position: 1em;
    background-size: 2.8em;
    transition: all 1s;
}

body header button:hover {
    background-color: black;
    background-image: url(../images/sun-hover.png);
    background-repeat: no-repeat;
    background-position: 1em;
    background-size: 2.8em;
    transition: all 1s;

}

article button:last-of-type {
    color: black;
    border: none;
    background-color: transparent;
    bottom: 3em;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 1em;
    padding: 0;
    text-align: left;
    width: 18em;
}

article button:last-of-type:hover {
    font-weight: 700;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.img-button{
    width: 4em;
    height: 4em;
    color: black;
    font-size: .7em;
    font-weight: bold;
    border: 6px solid black;
    padding: 5px;
    padding-top: 9px;
}

.img-button:hover{
    width: 4em;
    height: 4em;
    color: whitesmoke;
    font-size: .7em;
    background-color: black;
    font-weight: bold;
    border: 6px solid black;
    padding: 5px;
    padding-top: 9px;
}

body.night .img-button{
    width: 4em;
    height: 4em;
    color: whitesmoke;
    font-size: .7em;
    font-weight: bold;
    border: 6px solid whitesmoke;
    padding: 5px;
    padding-top: 9px;
}

body.night .img-button:hover{
    width: 4em;
    height: 4em;
    color: black;
    font-size: .7em;
    font-weight: bold;
    background-color: whitesmoke;
    border: 6px solid whitesmoke;
    padding: 5px;
    padding-top: 9px;
}



/* Do an horizontal flip when you move the mouse over the flip box container */

article.card-flip .card-inner {
    transform: rotateY(180deg);
}

article.card-flip .card-inner iframe {
    display: none;
}

/* Position the front and back side */

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.card-front {
    color: black;
    background-color:white;
}

/* Style the back side */

.card-back {
    background-image: white;
    color: white;
    transform: rotateY(180deg);
}

body.night article {
    /*    background-color: blueviolet !important;*/
    background-color: transparent;
    transition: all 1s;
    /*    box-shadow: 0.1em 0.1em 0.5em 0.1em darkviolet;*/
    border: 6px solid whitesmoke;
}
